$iphone: "only screen and (max-device-width: 635px)";

@media #{$iphone} {
  .navbar{
    #admin-sign-out{
      font-size: 1.5rem;
    }
    .admin-nav{
      left: -7rem;
      h1{
        font-size: 2rem;
      }
    }
  }
  .users-container{
    top: 16rem;
    width: 40rem;
    font-size: 2rem;
    min-width: 50rem; 
    table{
      thead{
        tr{
          th{
            font-size: 2rem;
          }
        }
      }
      tr{
        td{
          height: 5rem;
        }
      }
    }

  }

}