%div.data-container
  %h1#chart-title Employee Preference
  %div.chart-container
    %div.y-axis-container
      - y_axis= ["100", "75", "50", "25", "0"]
      - y_axis.each do |percent|
        %div.percent
          = percent+"%"
    %div.x-axis-container
      - @desks.each do |desk|
        %div.desk-type
          = desk.style.capitalize
      %div
    %div.bar-container.shadow
      %div.bar-details
        %table
          %tr
            %td.table-labels
              Percentage
            %td#percentage.table-values 
          %tr
            %td.table-labels
              Cost of Desk
            %td#price.table-values
          %tr
            %td.table-labels
              Total # of Employees
            %td#all-users.table-values
          %tr
            %td.table-labels
              Total Cost
            %td#total-cost.table-values
      - @desks.each do |desk|
        %div.bars{:id => "bar-#{desk.style}"}

