%div.data-container
  %h1#chart-title Employee Preference(%)
  %div.chart-container
    %div.y-axis-container
      - y_axis= ["100", "75", "50", "25", "0"]
      - y_axis.each do |percent|
        %div.percent
          = percent+"%"
    %div.x-axis-container
      - @desks.each do |desk|
        %div.desk-type
          = desk.style.capitalize
      %div
    %div.bar-container.shadow
      - @desks.each do |desk|
        %div.bars{:id => "bar-#{desk.style}"}
  %div.bar-details
    %table
      %tr
        %td
          Percentage
        %td#percentage
      %tr
        %td
          Cost of Desk
        %td#price
      %tr
        %td
          Total # of Employees
        %td#all-users
      %tr
        %td
          Total Cost
        %td#total-cost
      %tr
        %td
        %td