%div.users-container
  %table
    %thead
      %tr
        %th Email Addresses
        %th Admin Setting
    %tbody
      - @users_list.sort.each do |user, admin|
        %tr
          %td.user-column
            = user
          %td.admin-setting-column
            - if admin
              .admin-true.toggle-btn
            - else
              .admin-false.toggle-btn
