%div.users-container
  %table
    %thead
      %tr
        %th Email Username
        %th Admin Setting
    %tbody
      - @users_list.each do |user, admin|
        %tr
          %td.user-column
            = user
          %td
            - if admin
              #admin-true.toggle-btn
            - else
              #admin-false.toggle-btn
