%div.dimOverlay
%h1#choose-title 
  - if @desk
    Your current preference is: #{@desk}
    %br To change, please select another desk style.
  - else 
    Select your desk preference:
%div.description-container
  %form
    %div.description-text
    %button(id="select-btn") Select
    %button(id='cancel-btn') Cancel
%div.desk-container
  %ul
    %li#basic.desk-pic
      %div.overlay 
        %h1 Basic
    %li#standing.desk-pic
      %div.overlay 
        %h1 Standing
    %li#mega.desk-pic
      %div.overlay 
        %h1 Mega

