$small-displays: "screen and (max-width: 600px)";

#choose-title{
  font-family: 'Open Sans', sans-serif;
  top: 6rem;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  transition: font-size 0.5s;
  padding: 1rem 0 1rem 0;
  #desk-pref{
    color:#0084b4;
  }
}
#sign-out{
  font-size: 1rem;
}
.dimOverlay{
  visibility: hidden;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.description-container{
  font-family: 'Open Sans', sans-serif;
  z-index: 2;
  visibility: hidden;
  position: absolute;
  left: 0;
  width: 36rem;
  height: 27rem;
  left: -18rem;
  margin-left: 50%;
  background-color: white;
  padding: 1rem;
  .modal-container{
    position: relative;
    width: 100%;
    height: 100%;
    .modal{
      position: absolute;
      width: 50%;
      height: 100%;
      display: inline-block;
    }
    .modal-pic{
      left: 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .modal-content{
      right: 0;
    }
    .description-text{
      position: absolute;
      top: 3rem;
      padding-bottom: 3rem;
    }
    h1{
      font-size: 3rem;
      padding: 1rem;
      color: #0084b4;
      text-align: center;
    }
    ul{
      padding: 0 0 0 1rem;
      li{
        padding: 0.2rem 0;
      }
    }
    button{
      background-color: #0084b4;
      color: white;
      border: none;
      position: absolute;
      bottom: 8rem;
      width: 6rem;
      height: 2rem;
      font-size: 1rem;
      cursor: pointer;
      -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    }
    #select-btn{
      left: 10%;
    }
    #cancel-btn{
      right: 10%;
    }
  }
}
.desk-container{
  top: 6rem;
  margin: auto;
  height: 24rem;
  width: 90%;
  max-width: 70rem;
  position: relative;
  #basic{
    left: 0;
    background-image: url("/assets/basic.jpg");
  }
  #standing{
    left:33.5%;
    background-image: url("/assets/standing.jpg");
  }
  #mega{
    right: 0;
    background-image: url("/assets/mega.jpg");
  }
  .desk-pic{
    background-position: center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 33%;
    overflow: hidden;
    .overlay{
      cursor: pointer;
      position: absolute;
      display: inline-block;
      display: none;
      background: rgba(0,0,0,0.8);
      width: 100%;
      height: 100%;
      h1{
        font-family: 'Open Sans', sans-serif;
        line-height: 24rem;
        vertical-align: center;
        color: white;
        text-align: center;
        font-size: 3rem;
      }
    }
  }
  li{
    overflow: hidden;
  }
}
@media #{$small-displays} {
  #choose-title{
    font-size: 1rem;
  }
  .description-container{
    padding: 1rem;
    width: 22rem;
    left: -11rem;
    margin-left: 50%;
    height: 23rem;
    .modal-container{
      .modal-pic{
        width: 40%;
      }
      .modal-content{
        width: 60%;
        .description-text{
          h1{
            font-size: 1.6rem;
          } 
          ul{
            font-size: 1rem;
            li{
            }
          }
        }
        #select-btn{
          left: -3rem;
          margin-left: 50%;
          bottom: 5rem;
          width: 7rem;
        }
        #cancel-btn{
          left: -3rem;
          margin-left: 50%;
          bottom: 2rem;
          width: 7rem;
        }       

      }
    }
  }
  .desk-container{
    .desk-pic{
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      position: relative;
      height: 10rem;
      width: 100%;
      overflow: hidden;
      .overlay{
        h1{
          line-height: 10rem;
        }
      }
    }
    #standing{
      left: 0;
    }
  }
  .description-container{
    top: 3rem;
  }
}
