$small-displays: "screen and (max-width: 600px)";

#choose-title{
  font-family: 'Open Sans', sans-serif;
  top: 6rem;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  transition: font-size 0.5s;
  padding: 1rem 0 1rem 0;
  #desk-pref{
    color:#0084b4;
  }
}

#sign-out{
  font-size: 1rem;
}

.dimOverlay{
  visibility: hidden;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.description-container{
  font-family: 'Open Sans', sans-serif;
  height: 10rem;
  width: 18rem;
  position: relative;
  margin:auto;
  z-index: 2;
  background-color: white;
  visibility: hidden;
  border-radius: 5px;
  background-color: white;-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,1);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,1);
  .description-text{
    padding-bottom: 3rem;
  }
  h1{
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    color: #0084b4;
  }
  ul{
    padding-top: 5px;
    text-align: left;
    width: 14rem;
    margin: auto;
  }
  button{
    position: absolute;
    bottom: 1rem;
    width: 5rem;
    color: white;
    border: none;
    background-color: #0084b4;-webkit-box-shadow: 2px 2px 2px 0px rgba(74,105,120,1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(74,105,120,1);
    box-shadow: 2px 2px 2px 0px rgba(74,105,120,1);
  }
  #select-btn{
    left: 15%;
  }
  #cancel-btn{
    right: 15%;

  }
}
.desk-container{
  top: -4rem;
  margin: auto;
  height: 24rem;
  width: 90%;
  max-width: 70rem;
  position: relative;
  #basic{
    left: 0;
    background-image: url("/assets/basic.jpg");
  }
  #standing{
    left:33.5%;
    background-image: url("/assets/standing.jpg");
  }
  #mega{
    right: 0;
    background-image: url("/assets/mega.jpg");
  }
  .desk-pic{
    background-position: center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 33%;
    overflow: hidden;
    .overlay{
      cursor: pointer;
      position: absolute;
      display: inline-block;
      display: none;
      background: rgba(0,0,0,0.8);
      width: 100%;
      height: 100%;
      h1{
        font-family: 'Open Sans', sans-serif;
        line-height: 24rem;
        vertical-align: center;
        color: white;
        text-align: center;
        font-size: 3rem;
      }
    }
  }
  li{
    overflow: hidden;
  }
}
@media #{$small-displays} {
  #choose-title{
    font-size: 1rem;
  }
  .desk-container{
    .desk-pic{
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      position: relative;
      height: 10rem;
      width: 100%;
      overflow: hidden;
      .overlay{
        h1{
          line-height: 10rem;
        }
      }
    }
    #standing{
      left: 0;
    }
  }
  .description-container{
    top: 3rem;
  }
}