$break-small: 740px;
$break-large: 1200px;
$small-displays: "screen and (max-width: 1000px)";

.dimOverlay{
  visibility: hidden;
  border: 1px solid red;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.description-container{
  height: 10rem;
  width: 40%;
  position: relative;
  top: 5rem;
  margin:auto;
  z-index: 2;
  background-color: white;
  visibility: hidden;
  h1{
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
  }
  ul{
    text-align: center;
  }
  #select-btn{
    position: absolute;
    bottom: 1rem;
    width: 10rem;
    margin-left: -5rem;
    left: 50%;
  }
}
.desk-container{
  top: -8rem;
  margin: auto;
  height: 24rem;
  width: 90%;
  position: relative;
  #basic{
    left: 0;
    background-image: url("/assets/basic.jpg");
  }
  #standing{
    left:33.5%;
    background-image: url("/assets/standing.jpg");
  }
  #mega{
    right: 0;
    background-image: url("/assets/mega.jpg");
  }
  .desk-pic{
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 33%;
    overflow: hidden;
  }
  li{
    display: block;
    position: absolute;
    overflow: hidden;
  }
  .overlay{
    cursor: pointer;
    top: 0;
    position: absolute;
    display: inline-block;
    display: none;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    h1{
      line-height: 24rem;
      vertical-align: center;
      color: white;
      text-align: center;
      font-size: 3rem;
    }
  }
  @media #{$small-displays} {
    .desk-pic{
      display: block;
      width: 100%;
      height: 33%;
      position: relative;
      img{
        width:100%;
        height: auto;
      }
    }
    #standing{
      left: 0;
    }
  }
}