/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, input, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear; }

.dimOverlay {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2; }

.description-container {
  font-family: 'Open Sans', sans-serif;
  height: 10rem;
  width: 18rem;
  position: relative;
  top: 7rem;
  margin: auto;
  z-index: 2;
  background-color: white;
  visibility: hidden;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px 0px black;
  -moz-box-shadow: 5px 5px 5px 0px black;
  box-shadow: 5px 5px 5px 0px black; }
  .description-container h1 {
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem; }
  .description-container ul {
    padding-top: 5px;
    text-align: left;
    width: 14rem;
    margin: auto; }
  .description-container button {
    position: absolute;
    bottom: 1rem;
    width: 5rem;
    color: white;
    border: none;
    background-color: #0084b4;
    -webkit-box-shadow: 2px 2px 2px 0px #4a6978;
    -moz-box-shadow: 2px 2px 2px 0px #4a6978;
    box-shadow: 2px 2px 2px 0px #4a6978; }
  .description-container #select-btn {
    left: 15%; }
  .description-container #cancel-btn {
    right: 15%; }

.desk-container {
  top: -4rem;
  margin: auto;
  height: 24rem;
  width: 90%;
  max-width: 70rem;
  position: relative; }
  .desk-container #basic {
    left: 0;
    background-image: url("/assets/basic.jpg"); }
  .desk-container #standing {
    left: 33.5%;
    background-image: url("/assets/standing.jpg"); }
  .desk-container #mega {
    right: 0;
    background-image: url("/assets/mega.jpg"); }
  .desk-container .desk-pic {
    background-position: center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 33%;
    overflow: hidden;
    transition: width 1s; }
    .desk-container .desk-pic .overlay {
      cursor: pointer;
      position: absolute;
      display: inline-block;
      display: none;
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%; }
      .desk-container .desk-pic .overlay h1 {
        font-family: 'Open Sans', sans-serif;
        line-height: 24rem;
        vertical-align: center;
        color: white;
        text-align: center;
        font-size: 3rem; }
  .desk-container li {
    overflow: hidden; }
  @media screen and (max-width: 600px) {
    .desk-container .desk-pic {
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      position: relative;
      height: 10rem;
      width: 100%;
      overflow: hidden; }
      .desk-container .desk-pic .overlay h1 {
        line-height: 10rem; }
    .desk-container #standing {
      left: 0; } }

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.background {
  background-image: url("http://www.building-blocks.com/wp-content/themes/bb-v4/images/bb-mosaic.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute; }

.background-overlay {
  position: absolute;
  background-color: rgba(221, 238, 246, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 2; }

.navbar {
  position: fixed;
  height: 5rem;
  width: 100%;
  font-size: 0.8rem;
  background-color: #343434;
  color: white;
  z-index: 3;
  position: absolute; }
  .navbar #front-title {
    line-height: 5rem;
    margin-left: 3rem;
    font-size: 3rem; }
  .navbar #back-title {
    font-size: 2rem;
    color: #c0deed; }
  .navbar #sign-out {
    position: absolute;
    right: 1rem;
    bottom: 0.1rem; }
  .navbar a {
    text-decoration: none;
    color: #c0deed; }
  .navbar td {
    padding: 0px 9px; }
    .navbar td #user_email {
      width: 100%; }
    .navbar td #user_password {
      width: 100%; }
    .navbar td input {
      margin-top: 0.5rem;
      padding: 0.2rem;
      border: none; }
  .navbar button {
    border: none;
    width: 5rem;
    padding: 3px 0;
    background-color: white;
    -webkit-box-shadow: 2px 2px 2px 0px black;
    -moz-box-shadow: 2px 2px 2px 0px black;
    box-shadow: 2px 2px 2px 0px black; }
  .navbar .user-login {
    position: absolute;
    top: 0.5rem;
    right: 1rem; }
    .navbar .user-login #sign-up {
      position: absolute;
      left: 0.8rem; }

@media screen and (max-width: 635px) {
  .navbar #front-title {
    margin-left: 50%;
    position: absolute;
    left: -5.5rem; }
  .navbar #back-title {
    margin-left: 50%;
    left: 0.8rem;
    top: 1.9rem;
    position: absolute; }
  .navbar .user-login {
    border-radius: 5px;
    background-color: #343434;
    height: 13rem;
    width: 14rem;
    margin-left: -7rem;
    left: 50%;
    top: 10rem;
    padding-top: 1rem; }
    .navbar .user-login table {
      margin: auto; }
      .navbar .user-login table #user_email {
        width: 100%;
        padding: 0.5rem 0 0.5rem 0.5rem; }
      .navbar .user-login table #user_password {
        width: 100%;
        padding: 0.5rem 0 0.5rem 0.5rem; }
      .navbar .user-login table td {
        display: block;
        padding: 0; }
        .navbar .user-login table td button {
          margin-top: 0.5rem;
          padding: 0.5rem 0;
          width: 100%; }
    .navbar .user-login #sign-up {
      left: 2.7rem; } }
