/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, input, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#choose-title {
  font-family: 'Open Sans', sans-serif;
  top: 6rem;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  transition: font-size 0.5s;
  padding: 1rem 0 1rem 0; }
  #choose-title #desk-pref {
    color: #0084b4; }

#sign-out {
  font-size: 1rem; }

.dimOverlay {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2; }

.description-container {
  font-family: 'Open Sans', sans-serif;
  z-index: 2;
  visibility: hidden;
  position: absolute;
  left: 0;
  width: 36rem;
  height: 27rem;
  left: -18rem;
  margin-left: 50%;
  background-color: white;
  padding: 1rem; }
  .description-container .modal-container {
    position: relative;
    width: 100%;
    height: 100%; }
    .description-container .modal-container .modal {
      position: absolute;
      width: 50%;
      height: 100%;
      display: inline-block; }
    .description-container .modal-container .modal-pic {
      left: 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center; }
    .description-container .modal-container .modal-content {
      right: 0; }
    .description-container .modal-container .description-text {
      position: absolute;
      top: 3rem;
      padding-bottom: 3rem; }
    .description-container .modal-container h1 {
      font-size: 3rem;
      padding: 1rem;
      color: #0084b4;
      text-align: center; }
    .description-container .modal-container ul {
      padding: 0 0 0 1rem; }
      .description-container .modal-container ul li {
        padding: 0.2rem 0; }
    .description-container .modal-container button {
      background-color: #0084b4;
      color: white;
      border: none;
      position: absolute;
      bottom: 8rem;
      width: 6rem;
      height: 2rem;
      font-size: 1rem;
      cursor: pointer;
      -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75); }
    .description-container .modal-container #select-btn {
      left: 10%; }
    .description-container .modal-container #cancel-btn {
      right: 10%; }

.desk-container {
  top: 6rem;
  margin: auto;
  height: 24rem;
  width: 90%;
  max-width: 70rem;
  position: relative; }
  .desk-container #basic {
    left: 0;
    background-image: url("/assets/basic.jpg"); }
  .desk-container #standing {
    left: 33.5%;
    background-image: url("/assets/standing.jpg"); }
  .desk-container #mega {
    right: 0;
    background-image: url("/assets/mega.jpg"); }
  .desk-container .desk-pic {
    background-position: center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 33%;
    overflow: hidden; }
    .desk-container .desk-pic .overlay {
      cursor: pointer;
      position: absolute;
      display: inline-block;
      display: none;
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%; }
      .desk-container .desk-pic .overlay h1 {
        font-family: 'Open Sans', sans-serif;
        line-height: 24rem;
        vertical-align: center;
        color: white;
        text-align: center;
        font-size: 3rem; }
  .desk-container li {
    overflow: hidden; }

@media screen and (max-width: 600px) {
  #choose-title {
    font-size: 1rem; }

  .description-container {
    padding: 1rem;
    width: 22rem;
    left: -11rem;
    margin-left: 50%;
    height: 23rem; }
    .description-container .modal-container .modal-pic {
      width: 40%; }
    .description-container .modal-container .modal-content {
      width: 60%; }
      .description-container .modal-container .modal-content .description-text h1 {
        font-size: 1.6rem; }
      .description-container .modal-container .modal-content .description-text ul {
        font-size: 1rem; }
      .description-container .modal-container .modal-content #select-btn {
        left: -3rem;
        margin-left: 50%;
        bottom: 5rem;
        width: 7rem; }
      .description-container .modal-container .modal-content #cancel-btn {
        left: -3rem;
        margin-left: 50%;
        bottom: 2rem;
        width: 7rem; }

  .desk-container .desk-pic {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    position: relative;
    height: 10rem;
    width: 100%;
    overflow: hidden; }
    .desk-container .desk-pic .overlay h1 {
      line-height: 10rem; }
  .desk-container #standing {
    left: 0; }

  .description-container {
    top: 3rem; } }
.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.background {
  background-image: url("http://www.building-blocks.com/wp-content/themes/bb-v4/images/bb-mosaic.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute; }

.background-overlay {
  position: absolute;
  background-color: rgba(221, 238, 246, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 2; }

.navbar {
  position: fixed;
  height: 5rem;
  width: 100%;
  font-size: 0.8rem;
  background-color: #343434;
  color: white;
  z-index: 3;
  position: absolute; }
  .navbar #front-title {
    line-height: 5rem;
    margin-left: 3rem;
    font-size: 3rem; }
  .navbar #back-title {
    font-size: 2rem;
    color: #c0deed; }
  .navbar #sign-out {
    position: absolute;
    right: 1rem;
    bottom: 0.1rem; }
  .navbar a {
    text-decoration: none;
    color: #c0deed; }
  .navbar td {
    padding: 0px 9px; }
    .navbar td #user_email {
      width: 100%; }
    .navbar td #user_password {
      width: 100%; }
    .navbar td input {
      margin-top: 0.5rem;
      padding: 0.2rem;
      border: none; }
  .navbar button {
    border: none;
    width: 5rem;
    padding: 3px 0;
    background-color: white;
    -webkit-box-shadow: 2px 2px 2px 0px black;
    -moz-box-shadow: 2px 2px 2px 0px black;
    box-shadow: 2px 2px 2px 0px black;
    cursor: pointer; }
  .navbar .user-login {
    position: absolute;
    top: 0.5rem;
    right: 1rem; }

.signup-container {
  position: absolute;
  background-color: #343434;
  width: 17rem;
  padding: 1rem;
  left: -8.5rem;
  margin-left: 50%;
  margin-top: 10rem;
  visibility: hidden;
  border-radius: 5px; }
  .signup-container h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 1rem;
    font-size: 1.5rem; }
  .signup-container input {
    position: relative;
    width: 100%;
    border: 1px solid lightgray;
    padding: 0.4rem; }
  .signup-container #signup-btn {
    padding: 0.5rem 0;
    cursor: pointer; }

@media screen and (max-width: 635px) {
  .navbar #front-title {
    margin-left: 50%;
    position: absolute;
    left: -5.5rem; }
  .navbar #back-title {
    margin-left: 50%;
    left: 0.8rem;
    top: 1.9rem;
    position: absolute; }
  .navbar .user-login {
    border-radius: 5px;
    background-color: #343434;
    width: 14rem;
    margin-left: -7rem;
    left: 50%;
    top: 10rem;
    padding: 1rem 1rem 1.5rem 1rem; }
    .navbar .user-login table {
      margin: auto;
      width: 100%;
      border-collapse: collapse; }
      .navbar .user-login table #user_email {
        padding: 0.5rem;
        border: 0 1px 1px 1px solid lightgray; }
      .navbar .user-login table #user_password {
        margin-top: 0;
        height: 100%;
        padding: 0.5rem;
        border: 1px solid lightgray; }
      .navbar .user-login table td {
        margin: 0;
        display: block;
        padding: 0; }
        .navbar .user-login table td button {
          padding: 0.5rem;
          width: 100%;
          cursor: pointer; } }
@media only screen and (max-device-width: 635px) {
  .navbar {
    padding: 5rem; }
    .navbar #sign-out {
      font-size: 2rem; }
    .navbar #front-title {
      margin-left: 50%;
      position: absolute;
      left: -14rem;
      font-size: 7rem;
      top: 2rem; }
    .navbar #back-title {
      margin-left: 50%;
      left: 0.8rem;
      top: 3rem;
      position: absolute;
      font-size: 5rem; }
    .navbar .user-login {
      border-radius: 5px;
      background-color: #343434;
      width: 50rem;
      margin-left: -25rem;
      left: 50%;
      top: 15rem;
      padding: 4rem 4rem 4.5rem 4rem;
      font-size: 3rem;
      border-radius: 20px; }
      .navbar .user-login table {
        margin: auto;
        width: 100%;
        border-collapse: collapse; }
        .navbar .user-login table input {
          padding: 2rem 1rem; }
        .navbar .user-login table #user_email {
          border: 0 1px 1px 1px solid lightgray; }
        .navbar .user-login table #user_password {
          margin-top: 0;
          height: 100%;
          border: 1px solid lightgray; }
        .navbar .user-login table input[type=checkbox] {
          -ms-transform: scale(2);
          -moz-transform: scale(2);
          -webkit-transform: scale(2);
          -o-transform: scale(2); }
        .navbar .user-login table td {
          margin: 0;
          display: block;
          padding: 0; }
          .navbar .user-login table td #user_remember_me {
            margin: 1rem; }
          .navbar .user-login table td button {
            font-size: 3rem;
            padding: 2rem;
            width: 100%;
            cursor: pointer; }
    .navbar .signup-container {
      width: 50rem;
      padding: 4rem 4rem;
      left: -25rem;
      margin-left: 50%;
      margin-top: 10rem;
      visibility: hidden;
      border-radius: 20px;
      font-size: 3rem; }
      .navbar .signup-container h1 {
        padding-bottom: 2rem;
        font-size: 3rem; }
      .navbar .signup-container input {
        font-size: 2rem;
        width: 100%;
        padding: 2rem; }
      .navbar .signup-container #signup-btn {
        padding: 2rem 0; } }
.data-container {
  visibility: hidden;
  position: relative;
  margin-top: -16rem;
  width: 100%;
  height: 100%; }
  .data-container #chart-title {
    font-size: 2rem;
    color: #0084b4;
    text-align: center;
    margin-top: 1rem; }
  .data-container .shadow {
    -webkit-box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.75); }
  .data-container .chart-container {
    position: relative;
    height: 32rem;
    width: 34rem;
    left: -17rem;
    padding: 0.2rem;
    margin-left: 50%;
    top: 1rem; }
    .data-container .chart-container .y-axis-container {
      display: inline-block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 1rem; }
      .data-container .chart-container .y-axis-container .percent {
        height: 23%; }
    .data-container .chart-container .x-axis-container {
      width: 100%;
      position: absolute;
      bottom: 0.5rem;
      left: -13rem;
      margin-left: 50%;
      width: 26rem;
      text-align: center; }
      .data-container .chart-container .x-axis-container .desk-type {
        display: inline-block;
        width: 32%; }
    .data-container .chart-container .bar-container {
      border: 1px solid #343434;
      height: 30rem;
      width: 26rem;
      left: -13rem;
      margin-left: 50%;
      position: relative; }
      .data-container .chart-container .bar-container .bar-details {
        visibility: hidden;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1rem;
        position: absolute;
        left: -11rem;
        margin-left: 50%;
        width: 22rem;
        top: 2rem; }
        .data-container .chart-container .bar-container .bar-details table .table-labels {
          color: #0084b4; }
        .data-container .chart-container .bar-container .bar-details table .table-values {
          text-align: center;
          width: 11rem; }
        .data-container .chart-container .bar-container .bar-details table tr td {
          padding: 0.4rem 0;
          border-bottom: 1px solid lightgray; }
    .data-container .chart-container .bars {
      position: absolute;
      bottom: 0;
      width: 6rem;
      transition: height 1s; }
    .data-container .chart-container #bar-basic {
      background-color: #c0deed;
      left: 1.4rem; }
    .data-container .chart-container #bar-standing {
      background-color: #3cf;
      left: -2.5rem;
      margin-left: 50%; }
    .data-container .chart-container #bar-mega {
      background-color: #0084b4;
      right: 1.4rem; }

.navbar #admin-sign-out {
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  right: 0; }
.navbar .admin-nav {
  bottom: 0.2rem;
  position: absolute;
  left: -4rem;
  margin-left: 50%;
  text-align: center; }
  .navbar .admin-nav h1 {
    font-size: 1rem;
    display: inline-block;
    padding: 0 0.5rem; }

.users-container {
  visibility: visible;
  position: relative;
  top: 7rem;
  width: 90%;
  min-width: 23rem;
  max-width: 37rem;
  margin: auto; }
  .users-container table {
    border: 1px solid lightgray;
    width: 100%; }
    .users-container table thead {
      background-color: #c0deed; }
      .users-container table thead tr th {
        padding: 1rem 1rem;
        font-size: 1.2rem; }
    .users-container table .user-column {
      padding: 0 2rem; }
    .users-container table td {
      border-top: 1px solid lightgray;
      vertical-align: middle;
      height: 3rem; }
      .users-container table td .toggle-btn {
        padding: 0.3rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        display: block; }
      .users-container table td .admin-true {
        background-image: url("/assets/toggle-on.png"); }
      .users-container table td .admin-false {
        background-image: url("/assets/toggle-off.png"); }

@media only screen and (max-device-width: 635px) {
  .navbar #admin-sign-out {
    font-size: 1.5rem; }
  .navbar .admin-nav {
    left: -7rem; }
    .navbar .admin-nav h1 {
      font-size: 2rem; }

  .users-container {
    top: 16rem;
    width: 40rem;
    font-size: 2rem;
    min-width: 50rem; }
    .users-container table thead tr th {
      font-size: 2rem; }
    .users-container table tr td {
      height: 5rem; } }
