/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.dimOverlay {
  visibility: hidden;
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2; }

.description-container {
  height: 10rem;
  width: 40%;
  position: relative;
  top: 5rem;
  margin: auto;
  z-index: 2;
  background-color: white;
  visibility: hidden; }
  .description-container h1 {
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem; }
  .description-container ul {
    text-align: center; }
  .description-container #select-btn {
    position: absolute;
    bottom: 1rem;
    width: 10rem;
    margin-left: -5rem;
    left: 50%; }

.desk-container {
  top: -8rem;
  margin: auto;
  height: 24rem;
  width: 90%;
  position: relative; }
  .desk-container #basic {
    left: 0;
    background-image: url("/assets/basic.jpg"); }
  .desk-container #standing {
    left: 33.5%;
    background-image: url("/assets/standing.jpg"); }
  .desk-container #mega {
    right: 0;
    background-image: url("/assets/mega.jpg"); }
  .desk-container .desk-pic {
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 33%;
    overflow: hidden; }
  .desk-container li {
    display: block;
    position: absolute;
    overflow: hidden; }
  .desk-container .overlay {
    cursor: pointer;
    top: 0;
    position: absolute;
    display: inline-block;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%; }
    .desk-container .overlay h1 {
      line-height: 24rem;
      vertical-align: center;
      color: white;
      text-align: center;
      font-size: 3rem; }
  @media screen and (max-width: 1000px) {
    .desk-container .desk-pic {
      display: block;
      width: 100%;
      height: 33%;
      position: relative; }
      .desk-container .desk-pic img {
        width: 100%;
        height: auto; }
    .desk-container #standing {
      left: 0; } }

.background {
  background-image: url("http://www.building-blocks.com/wp-content/themes/bb-v4/images/bb-mosaic.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute; }

.background-overlay {
  position: absolute;
  background-color: rgba(221, 238, 246, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 2; }

.navbar {
  position: fixed;
  height: 5rem;
  width: 100%;
  font-size: 0.8rem;
  background-color: #343434;
  color: white;
  z-index: 3;
  position: absolute; }
  .navbar #front-title {
    line-height: 5rem;
    margin-left: 1rem;
    font-size: 3rem; }
  .navbar #back-title {
    font-size: 2rem;
    color: #c0deed; }
  .navbar a {
    text-decoration: none;
    color: #c0deed; }
  .navbar td {
    padding: 0px 9px; }
    .navbar td #user_email {
      width: 100%; }
    .navbar td #user_password {
      width: 100%; }
    .navbar td input {
      margin-top: 0.5rem;
      padding: 0.2rem;
      border: none; }
  .navbar button {
    border: none;
    width: 5rem;
    padding: 3px 0;
    background-color: white; }
  .navbar .user-login {
    position: absolute;
    top: 0.5rem;
    right: 1rem; }
