!!!
%html
  %head
    %title DeskSpace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{type: "text/javascript", src: "http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js"}
    %link{href:'http://fonts.googleapis.com/css?family=Open+Sans', rel:'stylesheet', type:'text/css'}
    = csrf_meta_tags
  %body
    = yield